body{
    display: flex;
    background-color: #f2f2f2;
}
li{
    display: none;
}
.g-box{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.column{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.g-sheet{
    width: 390px;
    height: 370px;
    display: flex;
    flex-direction: column;
}
img{
    width: 390px;
    height: 260px;
    background-color: #ffffeb;
}
.m-introduce{
    width: 390px;
    height: 110px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.u-title{
    width: 370px;
    height: 20px;
    display: flex;
    background-color: white;
}
.u-message{
    width: 370px;
    height: 20px;
    display: flex;
    background-color: white;
}
.u-price{
    width: 370px;
    height: 30px;
    display: flex;
    background-color: white;
}
.u-title>span{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    margin-left: 8px;
    font-weight: bold;
}
.u-message>span{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    margin-left: 8px;
    font-weight: bold;
    color: #f70b42;
}
.t-price{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #f70b42;
    margin-left: 8px;
}
.h-price{
    font-size: 10px;
    line-height: 12px;
    height: 12px;
    margin: 12px 8px;
    text-decoration:line-through;
}
.h-sell{
    font-size: 10px;
    line-height: 12px;
    height: 12px;
    margin: 12px 8px;
    margin-left: auto;
}